.form-container h1 {
	font-weight: bold;
	margin: 0;
}

.form-container h2 {
	text-align: center;
}

.form-container p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.form-container span {
	font-size: 14px;
    font-weight: 500;
}

.form-container form {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px 30px;
	height: 100%;
	text-align: center;
    width: 76%;
    margin:auto;
    border-radius: 30px;
}
.form-container form input {
    outline: none;
	background-color: #eee;
	border: none;
    border-radius: 3px;
	padding: 15px 28px;
	margin: 8px 0;
	width: 40%;
    font-weight: 500;
}

.form-container button {
	border-radius: 3px;
	border: 1px solid #F63E7B;
	background-color: #F63E7B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
    width: 40%;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form-container button:active {
	transform: scale(0.95);
}

.form-container button:focus {
	outline: none;
}

.social-container a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
        /*=== for mobile device==== */
@media only screen and (max-width: 600px) {
	.form-container form input {
      width: 100%;
    }
    .form-container form {
        width: 100%;
    }
    .form-container button{
        width: 100%;
    }
	.form-container span {
		width: 100%;
		font-size:13px;
	}
	.toggle{
		font-size:12px;
	}
  }