.profile-img{
    width: 100px;
    margin: auto;
}
.profile{
    border-radius:10px;
}
@media only screen and (max-width: 600px) {
    .profile{
        width: 100% !important;
        padding: 0 10px;
        margin: 6px !important;
    }
    .profile-img{
        width: 100px;
        margin: auto;
    }
}